/* Scroll category */
._scroll-none::-webkit-scrollbar {
    width: 0;
    height: 0;
}
  
._scroll-none::-webkit-scrollbar-track {
    background: transparent;
}
  
._scroll-none::-webkit-scrollbar-thumb {
    background: transparent;
}
  
._scroll-none::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

._content-blog {
    h1, h2 {
        font-size: 2.5rem;
        color: #12294a;
        letter-spacing: -0.03em;
        line-height: 2.4rem;
        font-family: "GothamBold";
    }
    h3 {
        font-size: 130%;
        color: #12294a;
        font-weight: 500;
        font-family: "GothamMedium";
    }
    h4 {
        font-size: 130%;
        color: #12294a;
    }
    h5 {
        font-size: 120%;
        color: #12294a;
    }
    ul {
        list-style: disc;
        padding-left: 2.5rem;
    }
    ol {
        list-style: decimal;
        padding-left: 2rem;
    }
    ol + p {
        padding-left: 2rem;
    }
    p:has(img) {
        align-self: center;
        margin: 2rem 0;
    }
    a {
        word-break: break-all;
    }
    a:hover {
        text-decoration: underline;
    }
}

@media (max-width: 768px) {
    ._content-blog {
        h1 {
            font-size: 130%;
        }
        h2 {
            font-size: 125%;
        }
        h3 {
            font-size: 120%;
        }
        h4 {
            font-size: 115%;
        }
        h5 {
            font-size: 110%;
        }
        ul {
            padding-left: 1.5rem;
        }
        ol {
            padding-left: 1rem;
        }
        ol + p {
            padding-left: 1rem;
        }
    }   
}