@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gotham";
  src: url("/assets/font/gotham/Gotham Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Font bold */
@font-face {
    font-family: 'GothamBold';
    src: url("/assets/font/gotham/Gotham Bold.otf") format('opentype');
    font-weight: bold;
    font-style: normal;
}

/* Font medium */
@font-face {
    font-family: 'GothamMedium';
    src: url("/assets/font/gotham/Gotham Medium.otf") format('opentype');
    font-weight: 500;
    font-style: normal;
}
/* Font medium italic */
@font-face {
    font-family: 'GothamMediumItalic';
    src: url("/assets/font/gotham/Gotham Medium Italic.otf") format('opentype');
    font-weight: 500;
}
/* Font italic */
@font-face {
    font-family: 'GothamItalic';
    src: url("/assets/font/gotham/Gotham Thin Italic.otf") format('opentype');
    font-weight: 500;
}

:root {
  --primary-color: #346DF6;
  --dark-900-color: #212121;
}

._font-normal {
  font-family: "Gotham";
  font-style: normal;
}
._font-normal-italic {
  font-family: "GothamItalic";
  font-style: italic;
}

._font-bold {
  font-family: "GothamBold";
  font-weight: 700;
}
._font-medium {
  font-family: "GothamMedium";
  font-weight: 500;
}
._font-medium-italic {
  font-family: "GothamMediumItalic";
  font-weight: 500;
  font-style: italic;
}

/* Navigation Bar */
#nav-items a._active {
  color: var(--primary-color);
  font-weight: 700;
}
.nav_scroll {
  position: fixed;
}
.nav_scroll.active {
  position: fixed;
}

@media (max-width:450px) {
  * {
    /* font-size: 90%; */
  }
  .nav_scroll {
    position: fixed;
  }
  .nav_scroll.active {
    position: fixed;
  }
  ._dropdown-btn.active ~ ul {
  max-height: fit-content;
  }
  ._dropdown-btn.active > span > i {
    rotate: 180deg;
  }
  ._dropdown-btn ~ ul {
    position: static;
    padding: 0 8px;
  }
}